<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>영화관 상영정보</title>
</head>
<body>
  <h2>영화관 상영정보 조회</h2>

  <p th:text="|${user.name}님 안녕하세요|"></p>

  <!-- 검색 -->
  <form th:action="@{/queryMovie}"  method="get">
    <select name="condition">
      <option>검색어 선택</option>
      <option value="title" selected>영화명</option>
      <option value="date_time">날짜(일)</option>
    </select>
    <input type="text" name="keyword">
    <button>검색</button>
  </form>

  <h3>영화 조회 결과</h3>
  <div th:each="item : ${list}" style="margin-bottom: 15px;">
    <div>
      <span>영화 코드 : <span th:text="${item.movie_id}">movie_id</span></span>
      <span>영화 제목 : <span th:text="${item.title}">title</span></span>
      <span>장르 : <span th:text="${item.genre}">genre</span></span>
      <span>러닝타임 : <span th:text="${item.runtime}">runtime</span></span>
      <span>감독 : <span th:text="${item.director}">director</span></span>
      <span>개봉일 : <span th:text="${item.released}">released</span></span>
      <span>상영관 ID : <span th:text="${item.screen_id}">screen_id</span></span>
      <span>상영관 번호 : <span th:text="${item.screen_num}">screen_num</span></span>
      <span>좌석 수 : <span th:text="${item.seat_count}">seat_count</span></span>
      <span>시작 시간 : <span th:text="${item.start_time}">start_time</span></span>
      <span>상영 날짜 : <span th:text="${item.date_time}">date_time</span></span>
    </div>
  </div>

</body>
</html>