<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>fetch로 한명만 조죄하기</title>

  <script>
    function getData(){
        alert("getData 실행 완료");

        let id = document.getElementById("id").value;
        console.log(id);

        // members/acorn1 이런느낌으로
        fetch(`/members/${id}`)
        .then(response => response.json())
        .then( (data) => {console.log(data); } )
        .catch((err) => { console.log(err); });
    }
  </script>
</head>
<body>
<div id="result"></div>
<input type="text" id="id">
<button onclick="getData()">고객전체조회</button>

</body>
</html>